@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto Mono", sans-serif;
}
/* navbar */
.navbar {
  position: fixed;
  width: 100%;
  background: red;
}
.navbar .menu li a {
  color: white;
}
